root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Scripts de sistema
[*.{sh,bash}]
end_of_line = lf

[*.{bat,cmd,ps1}]
end_of_line = crlf
