@import 'tailwindcss';

body {
    margin: 0;
}

canvas {
    cursor: crosshair;
}

canvas:hover {
    cursor: pointer;
}

/* Quando o mouse está capturado, esconder o cursor */
canvas:focus {
    outline: none;
}
